.store{
  font-size: var(--font-18);
  font-family: var(--font-nunito);
  height: 100%;
}

.store__header{
  display: flex;
  justify-content: center;
}

.store__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
