.Store{
  font-size: var(--font-18);
  font-family: var(--font-nunito);
  height: 100%;
}

.Store-header{
  display: flex;
  justify-content: center;
}

.Store-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
